$bc-main: #ebe1e1;
$bc-header: #d9cccc;

$bg-first: #29323c;
$bg-second: #485563;

$bg-form-first: #254f7f;
$bg-form-second: #2f80d7;

$title-color: #b7aaaa;
$text-color: #b7aaaa;
$label-color: #b8b8b5;
$error-color: #850a0a;

$button-color: #2910cd;

$dark-black: #000000;
$black: #333333;
$white: #ffffff;
$blue: blue;
